<div class="TitleBar">
    
    <div class="home">
        <button type="button" class="home1" (click)="goToDashboard()">
            <img alt="Logo" src="/assets/images/group.png" width="45" height="40" class="logo">
        </button>
    </div>
    <div class="tyro">
        <button type="button" name="Tyro" class="tyro1" aria-setsize="div" (click)="goToDashboard()">tyro</button>
    </div>
    <div class="line">
        |
    </div>
    <div class="text">
        Good evening
    </div>
    <div class="bell">
        <button type="button" class="bell1">
            <img alt="Bell" src="/assets/images/bell.png" width="25" height="30">
        </button>
    </div>
    <div class="wishlist">
        <button type="button" class="wishlist1">
            <img alt="Bell" src="/assets/images/wish-list.png" width="20" height="30">
        </button>
    </div>
    <div class="post-button"> 
        <button name="new-post" class="new-post" type="button" (click)="goToNewPost()">NEW POST</button>
    </div>
    <div class="profile">
        <button type="button" class="profile1" >
            <img alt="Profile" src="/assets/images/Profile-ICon.png" width="45" height="45">
        </button>
    </div>

</div>