<div class="TitleBar">
    <div class="home">
        <a href="www.google.com">
            <img alt="Logo" src="/assets/images/group.png" width="50" height="35" class="logo">
        </a>
    </div>
    <div class="tyro">
        <a href="www.google.com" class="tyro1">tyro</a>
    </div>
    <div class="line">
        <p>|</p>
    </div>
    <div class="text">
        Good Evening
    </div>
    <a href="www.google.com">
        <img alt="bell" src="/assets/images/bell.png" width="25" height="25" class="bell">
    </a>
    <a href="www.yahoo.com">
        <img alt="wishlist" src="/assets/images/wish-list.png" width="25" height="25" class="wishlist">
    </a>
    <div class="post-button">
        <button name="new-post" class="new-post" type="button">NEW POST</button>
    </div>
    <div class="profile">
        <a href="www.google.com">
            <img alt="profile" src="/assets/images/Profile-ICon.png" width="35" height="35" class="profile">
        </a>
    </div>
</div>