<div class="emptylist" *ngIf="blogList.length===0">Please follow people or topics to read posts!</div>
<div class="blog-list" *ngFor="let blog of blogList">
    <div class="author">
        <div class="profile">
            <img alt="Profile" src={{blog.article.createdBy.profilePictureUrl}} width="30" height="30">
        </div>
        <div class="name">
            <a href="#" class="name1">
            {{ blog.article.createdBy.name}}</a>
        </div>
    </div>
    <div class="blog">
        <div class="title">
            <a class="title1" (click)="goTo(blog.article._id)">
                {{ blog.article.title}}
            </a>
        </div>
        <div class="description">{{ blog.article.content}}</div>
        <div class="date" >{{ blog.article.createdAt | relativeTime }}</div>
    </div>
    <br/>
</div>