<div class="blog-list" *ngFor="let blog of blogList">
    <div class="author">
        <div class="profile">
            <img alt="Profile" src="/assets/images/Profile-ICon.png" width="30" height="30">
        </div>
        <div class="name">
            <a href="#" class="name1">
            {{ blog.createdBy.name }}</a>
        </div>
    </div>
    <div class="blog">
        <div class="title">
            <a class="title1" href="#">{{ blog.title}}</a>
        </div>
        <div class="description">{{ blog.content}}</div>
        <div class="date" >{{ time }}</div>
    </div>
    <br/>
</div>