<div class="topic-container">
    <div class="topics">
        TOPICS TO FOLLOW
    </div>

    <div class="topic-list">
        <div class="topics-list" *ngFor="let topic of topicToFollow">
            <div class="name">
                {{ topic.topicName }}
            </div>
            <div class="follow">
                <button>Follow</button>
            </div>
        </div>
        <a href="#">
            <div class="see-more">
            </div>
            <div class="see-more-text">
                See more
            </div>
        </a>
        
    </div>
</div>
