<div class="topic-container">
    <div class="topics">
        TOPICS TO FOLLOW
    </div>

    <div class="topic-list">
        <div class="topics-list" *ngFor="let topic of topicToFollow">
            <div class="name">
                {{ topic.topic.topicName }}
            </div>
            <div class="follow">
                <button style="background-color: #1c437e;color: white; border: none;" class="following" *ngIf="topic.hasFollowed===true" (click)="onClick(topic.topic._id, topic.hasFollowed)">
                    {{topic.hasFollowed? 'Following' : 'Follow'}}
                </button>
                <button class="toFollow" *ngIf="topic.hasFollowed===false" (click)="onClick(topic.topic._id,topic.hasFollowed)">
                    {{topic.hasFollowed? 'Following' : 'Follow'}}
                </button>
            </div>
        </div>
    </div>
</div>
