@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.topic-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f5f9;
}

.topics{
    margin-top: 3%;
    font-size: smaller;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.topic-list {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-family: 800;
}

.topics-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 2%;    
    border-bottom: 1px solid rgba(93, 93, 93, 0.3);
    /* border-bottom-right-radius: 10px;  */
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing: .25px;
    
}

a{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}

.follow> button{
    font-family: "Open Sans", sans-serif;
    border-color: #1c437e;
    border-width: .5px;
    border-radius: 7px;
    width: 85px;
    height: 85%;
    background-color: #f7f5f9;
    outline: none;
    margin-bottom: 7%;
    color: #1c437e;
    box-shadow: none;
}

.name{
    font-size: smaller;
    font-weight: bolder;
    color:black;    
    text-shadow: black;
}

