<app-new-post-bar></app-new-post-bar>
<div class="text-container">
    <div class="title">
        {{blog.article.title}}
    </div>

    <div class="author">
        <div class="author-details">
            <div class="profilePic">
                <img alt="Profile" src={{blog.article.createdBy.profilePictureUrl}} width="15" height="15"
                    style="border-radius: 50%;">
            </div>
            <div class="name">
                {{blog.article.createdBy.name}}
            </div>
            <div class="time">
                {{ blog.article.createdAt | relativeTime }}
            </div>
        </div>
        <div class="buttons">
            <div class="likes">
                <img src="../../../../assets/images/red-heart.png" (click)="liked(blog.article._id, blog.hasLiked)" *ngIf="blog.hasLiked===true">
                <img src="../../../../assets/images/heart.png" (click)="liked(blog.article._id, blog.hasLiked)" *ngIf="blog.hasLiked===false">
            </div>
            <div class="number-of-likes">
                {{blog.article.numberOfLikes}}
            </div>
            <div class="bookmark">
                <img src="../../../../assets/images/bookmark.png" (click)="bookmarked(blog.article._id,blog.isBookmarked)" *ngIf="blog.isBookmarked===false">
                <img src="../../../../assets/images/bookmarked.png" (click)="bookmarked(blog.article._id,blog.isBookmarked)" *ngIf="blog.isBookmarked===true">
            </div>
        </div>
    </div>

    <div class="content">
        {{blog.article.content}}
    </div>
</div>