@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    background-color: #f7f5f9;
}
.mat-typography{
    background-color: #f7f5f9;
}
.read-post-container{
    height: 100%;
    background-color: #f7f5f9;
}

.text-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    background-color: #f7f5f9;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 3%;
}

.author{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    justify-content: space-between;
}

.author-details{
    display: flex;
    flex-direction: row;
}

.content{
    color: #333333;
    font-size: 15px;
    /* overflow-y: scroll; */
}

.buttons{
    display: flex;
    flex-direction: row;
}

.likes{
    margin-right: 20%;
}

.number-of-likes{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-right: 5%;
}

.bookmark{
    margin-left: 15%;
}

.name{
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 800;
    margin-left: 8%;
    min-width: fit-content
}

.time{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-left: 5%;
    min-width: fit-content
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: inset 0 0 6px rgba(168, 166, 166, 0.5);
}