<router-outlet></router-outlet>
<div class="TitleBar">
    
    <div class="home">
        <button type="button" class="home1" (click)="goToDashboard()">
            <img alt="Logo" src="/assets/images/group.png" width="45" height="40" class="logo">
        </button>
    </div>
    <div class="tyro">
        <button type="button" name="Tyro" class="tyro1" aria-setsize="div" (click)="goToDashboard()">tyro</button>
    </div>
    <div class="line">
        |
    </div>
    <div class="text">
        New Post
    </div>
    <div class="bell">
        <button type="button" class="bell1">
            <img alt="Bell" src="/assets/images/bell.png" width="20" height="25">
        </button>
    </div>
    <div class="publish">
        <button type="button" class="publish1" (click)="goToTopic()">PUBLISH</button>
    </div>
    <div class="profile">
        <button type="button" class="profile1" >
            <img alt="Profile" src="/assets/images/Profile.png" width="30" height="30">
        </button>
    </div>
    
    

</div>

