<div class="trending">
    <div class="tredning-on-tyro">
        <img src="../../../../assets/images/profits.png" alt="trending">
        <span>TRENDING ON TYRO</span>
    </div>
    <div class="blogs">
        <div class="blog-list" *ngFor="let blog of trending; let i = index">
            <div class="position" *ngIf="i < 5">
                0{{ i+1 }}
            </div>
            <div class="blog-details">
                <div class="author">
                    <div class="profile">
                        <img src={{blog.createdBy.profilePictureUrl}} alt="profile" class="pic">
                    </div>
                    <div class="name">
                        <a href="#">
                            {{ blog.createdBy.name }}</a>
                    </div>
                </div>
                <div class="title">
                    <a class="title1" (click)="goTo(blog._id)">
                        {{ blog.title}}
                    </a>
                </div>
                <div class="date">{{ blog.createdAt*1000 | date:'MMM d' }}</div>
            </div>
        </div>
    </div>
</div>