@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.trending{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 4.5%;
    width: 100%;
}

.trending-on-tyro{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    padding-bottom: 5%;

}

.app-trending{
    width: 100%;
}

span{
    padding-left: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: large;
    /* letter-spacing: .75px; */
}

.blogs{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
}

.blog-list{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    flex-basis: 60%;
}

.blog-details{
    display: flex;
    flex-direction: column;
    padding-left: 9%;
}

.position{
    color: #1c437e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 0px #1c437e;
    padding-top: 2%;
}

a{
    color: black;
    text-decoration: none;
}

.pic{
    height : 18px;
    width: 18px;
    margin-right: 20%;
    border-radius: 50%;
}

.author{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.name{
    padding-top: 1%;
    padding-left: 3%;
    font-size: 10px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    /* letter-spacing: .5px; */
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    line-height: normal;
    font-weight: 900;
    /* letter-spacing: 0.5px; */
}

.date{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding-top: 1%;
}