<div class="trending">
        <div class="tredning-on-tyro">
            <img src="../../../../assets/images/profits.png" alt="trending">
            <span>TRENDING ON TYRO</span>
        </div>

        <div class="blogs">
            <div class="blog-list" *ngFor="let blog of trendingList">
                <div class="position">
                    {{ blog.position }}
                </div>

                <div class="blog-details">
                    <div class="author">
                        <div class="profile">
                            <img [src]="blog.imagePath" alt="{{ blog.name }}" class="pic">
                        </div>
                        <div class="name">
                            <a href="#">
                                {{ blog.name}}</a>
                        </div>
                    </div>

                    <div class="title">
                        <a href="#">{{ blog.title}}</a>
                    </div>

                    <div class="date">{{ blog.date.toDateString()}}</div>
                </div>
            </div>
        </div>
</div>