<app-new-post-bar></app-new-post-bar>
<div class="bookmarks-container">
    <div class="bookmarks-text">
        BOOKMARKS ()
    </div>

    <div class="bookmarks-list">
        <div class="author-details">
            <div class="pic">

            </div>
            <div class="name">

            </div>
        </div>
        
        <div class="title">

        </div>

        <div class="content">

        </div>

        <div class="time-delete">
            <div class="time">

            </div>
            <div class="delete-button">
                
            </div>
        </div>
    </div>
</div>
