<div class="page">
  <div class="cross">
    <img class="cross-mark" src="../../../../assets/images//cancel.png" (click)="goToNewPost()">
  </div>
  <div class="text">
    <p>Add upto 5 topics so that readers know what your post is about</p>
  </div>
  <div class="box">
    <mat-form-field class="example-chip-list">
      <mat-chip-list class="mat-standard-chip" #chipList aria-label="topic selection">
        <div class="box1">
          <mat-chip class="mat-chip-color" *ngFor="let topic of topics" [selectable]="selectable"
            [removable]="removable" (removed)="remove(topic)">
            {{topic}}
            <mat-icon matChipRemove *ngIf="removable"><span class="cancel">x</span></mat-icon>
          </mat-chip>
          <input #topicInput [formControl]="topicCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
        </div>
      </mat-chip-list>
      <mat-autocomplete class="mat-autocomplete-panel" #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let topic of filteredtopics | async" [value]="topic">
          {{topic}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="publish">
      <button type="button" class="publish1" (click)="publishPost()">PUBLISH</button>
    </div>
  </div>
</div>