<div class="signup">
    <div class="alert" *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="input">
            <br><input name="name" type="text" placeholder="   NAME"
            ngModel
            required
            ><br><br>
            <input type="email" name="email" placeholder="   EMAIL"
            ngModel
            required
            email
            ><br><br>
            <input type="password" name="password" placeholder="   PASSWORD"
            ngModel
            required
            minlength="6"
            ><br><br>
        </div>
        <div class="button">
            <button class="submit" type="submit" name="signup">SIGNUP</button>
        </div>
    </form>
</div>