@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.main-container {
    overflow-y: scroll;
    height: 100vh;
    background-color: #f7f5f9;
}

.trending {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin-top: 10vh; */
    margin-bottom: 7vh;
    height: 36vh;
    /* padding: 5%; */
    border-bottom: 1px solid rgba(93, 93, 93, 0.3);
}

.trending.app-trending {
    width: 100%;
}

.post-follows {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 90vh;
}

.posts {
    flex-basis: 55%;
    overflow-y: scroll;
    height: 90vh;
    padding-left: 5%;
    padding-right: 5%;
}

.follow {
    flex-basis: 45%;
    padding-left: 5%;
    flex-direction: column;
    height: 60vh;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: inset 0 0 6px rgba(168, 166, 166, 0.5);
}

.people {
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    max-width: 35vh;
}

.topics {
    flex-basis: 50%;
}

/* Sidenav for topics to follow */

.see-more-topics {
    margin-top: 2%;
    font-size: x-small;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: #1c437e;
    background: none;
    border: none;
    outline: none;
}

mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.sidenav1 {
    background-color: #f7f5f9;
    width: 350px;
}

.sidenav2 {
    background-color: #f7f5f9;
    width: 275px;
}

mat-sidenav-content {
    background-color: transparent;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    opacity: 0;
}

.topics-to-follow-topics-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    border-bottom: 1px solid rgba(93, 93, 93, 0.3);
    padding-top: 3%;
    margin-right: 5%;
}

.topics-to-follow-topic-list {
    padding-left: 5%;
    padding-top: 5%;
}

.topics-to-follow-text {
    padding-top: 1%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bolder;
    /* letter-spacing: .5px; */
}

.saying{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: #333333;
    font-weight: 100;
    font-family: 'Open Sans',sans-serif;
}

button {
    font-family: "Open Sans", sans-serif;
    border-color: #1c437e;
    border-width: .5px;
    border-radius: 7px;
    width: 85px;
    background-color: #f7f5f9;
    outline: none;
    margin-bottom: 7%;
    color: #1c437e;
    box-shadow: none;
}

.people-to-follow-text {
    padding-top: 1%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bold;
    /* letter-spacing: 1px; */
}

.pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.people-to-follow {
    padding-top: 18%;
    padding-left: 10%;
}

.people-to-follow-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
}

.name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: smaller;
}

.topicname{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    /* margin-bottom: 2%; */
    font-size: small;
}

.name-follow{
    margin-left: 5%;
}

.plus{
    height: 40px;
    width: 40px;
    margin-left: 40%;
}

.see-more-text{
    width: 10vh;
    font-size: x-small;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4%;
}

a{
    text-decoration: none;
    color: black;
    align-items: center;
}

.see-more{
    max-width: 10px;
}

.toFollow{
    text-align: center;
    font-size: 10px;
    width: 65px;
    height: 18px;
    padding: 0px;
    border-radius: 4px;
    line-height: 15px;
}

.toFollowTopics{
    border-radius: 4px;
}

.followingTopics{
    border-radius: 4px;
    background-color: #1c437e;
    color: white; 
    border: none;
}

.following{ 
    background-color: #1c437e;
    color: white; 
    border: none;
    text-align: center;
    font-size: 10px;
    width: 65px;
    height: 18px;
    padding: 0px;
    border-radius: 4px;
    line-height: 15px;
}

.see-more-people{
    margin-left: 35%;
    margin-top: 18.75%;
}