<div class="main-container">
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="trending">
        <app-trending style="width: 100%"></app-trending>
    </div>

    <div class="post-follows">
        <div class="posts">
            <app-blog-list></app-blog-list>
        </div>
        <div class="follow">
            <div class="people">
                <app-people></app-people>
            </div>
            <div class="topics">
                <app-topics></app-topics>
            </div>
        </div>   
    </div>
</div>