<router-outlet></router-outlet>
<div class="TitleBar">
    
    <div class="home">
        <button type="button" class="home1" (click)="goToDashboard()">
            <img alt="Logo" src="/assets/images/group.png" width="45" height="40" class="logo">
        </button>
    </div>
    <div class="tyro">
        <button type="button" name="Tyro" class="tyro1" aria-setsize="div" (click)="goToDashboard()">tyro</button>
    </div>
    <div class="line">
        |
    </div>
    <div class="text">
        Post
    </div>
    <div class="bell">
        <button type="button" class="bell1">
            <img alt="Bell" src="/assets/images/bell.png" width="25" height="30">
        </button>
    </div>
    <div class="publish">
        <button type="button" class="publish1" (click)="goToNewpost()">NEW POST</button>
    </div>
    <div class="profile">
        <button type="button" class="profile1" >
            <img class="profile2" alt="Profile" src="/assets/images/girldp3-cropped.jpg" width="38" height="38">
        </button>
    </div>
</div>
