@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.people-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f5f9;
}

.people-list {
    display: flex;
    flex-direction: row;
}

.blog-list {
    margin-left: 2%;
    margin-right: 15%;
}

.pics{
    font-size: medium;
}

img{
    border-radius: 50%;
}

.name{
    font-size: x-small;
    padding-top: 2px;
    text-align: center;
    letter-spacing: 0.25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.people {
    margin-bottom: 15%;
    font-size: smaller;
    font-weight: bold;
    letter-spacing: .75px;
    
}

button {
    height: 50px;
    width: 50px;
}

/* .plus{
    height: 40px;
    width: 40px;
    margin-left: 9%;
}

.see-more-text{
    width: fit-content;
    font-size: smaller;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
} */

a{
    text-decoration: none;
    color: black;
    align-items: center;
}