@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.people-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f5f9;
}

.people-list {
    display: flex;
    flex-direction: row;
}

.blog-list {
    margin-right: 10%;
}

.pics{
    font-size: medium;
}

.name{
    font-size: small;
    padding-top: 2px;
    text-align: center;
}

.people {
    margin-bottom: 4%;
    font-size: small;
    font-weight: bold;
}

.name {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

button {
    height: 50px;
    width: 50px;
}

.plus{
    height: 40px;
    width: 40px;
}

.see-more-text{
    font-size: xx-small;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}